<h2>{{ title }}</h2>

<footer class="footer">
  <div class="footer-column">
    <h4>Links</h4>
    <ul>
      <li><a href="#">Homepage</a></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>

  <div class="footer-column center">
    <p>{{ name }} &copy; {{ birthday }}</p>
  </div>

  <div class="footer-column">
    <h4>Redes</h4>
    <ul>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">LinkedIn</a></li>
      <li><a href="#">GitHub</a></li>
    </ul>
  </div>
</footer>