.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
  gap: 1rem;
  background-color: #a77c7c;
  color: rgb(0, 0, 0);
  padding: 2rem 1rem;
  width: 100%; /* Asegura que ocupa todo el ancho */
  box-sizing: border-box;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

@media (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr; /* Cambia a una sola columna */
    text-align: center;
  }
}